   <nav>
      <a href="/products">Products</a>
      <a href="/categories">Categories</a>
      <a href="/brands">Brands</a>
      <a href="/vendors">Vendors</a>
      <a href="/stock-movements">Stock Movements</a>
    </nav>
  