<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
<form id="update-product-form">
  <input type="text" name="name" value="<%= product.name %>">
  <input type="number" name="stock_qty" value="<%= product.stock_qty %>">
  <button type="submit">Update</button>
</form>
 <%- include('../partials/nav') %>
  </body>
</html>





