<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
<form id="create-brand-form" method="post" action="/brands/create">
  <input type="text" name="name">
  <button type="submit">Add</button>
</form>
 <%- include('../partials/nav') %>
  </body>
</html>

